<a href="https://colab.research.google.com/github/Ayush-jk/PES-IO/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
N=int(input("please enter a number = "))
if N%2==0:
  print("the given number is even")
else:
  print("the number entered is odd")

please enter a number = 56
the given number is even

In [ ]:
A=input("please enter the text :")
x=["a","e","i","o","u"]
for i in A:
  if i in x:
    print(i)

please enter the text :pesu-io
e
u
i
o

In [ ]:
a="betty had some butter but the butter was bitter so betty baught some better butter to make the bitter butter better"
b=a.split()
c=set(b)
print(c)
print("the number of unique characters in the given text = ", len(c))

{'to', 'so', 'baught', 'but', 'butter', 'had', 'was', 'bitter', 'better', 'make', 'betty', 'the', 'some'}
the number of unique characters in the given text =  13

In [ ]:
a="betty had some butter but the butter was bitter so betty baught some better butter to make the bitter butter better"
c=a.split()
b={}
for i in c:
  if i in b:
     b[i]+=1
  else:
    b[i]=1
print(b)

{'betty': 2, 'had': 1, 'some': 2, 'butter': 4, 'but': 1, 'the': 2, 'was': 1, 'bitter': 2, 'so': 1, 'baught': 1, 'better': 2, 'to': 1, 'make': 1}

In [ ]:
a= input("please enter your text here : ")
b=a.split()
c=0
for i in b:
  c=c+1
print("the number of words in the given text is ", c)
d={}
for i in b:
  if i in d:
    d[i]+=1
  else:
    d[i]=1
e=set(d)
print("the number of unique words in the given text : " , len(d))
print("these are all the unique characters in the given text = " ,"\n" , e)
print("the number of each uniques character :" ,"\n" ,d)

please enter your text here : betty had some butter but the butter was bitter so betty baught some better butter to make the bitter butter better
the number of words in the given text is  21
the number of unique words in the given text :  13
these are all the unique characters in the given text =
 {'to', 'so', 'baught', 'but', 'butter', 'had', 'was', 'bitter', 'better', 'make', 'betty', 'the', 'some'}
the number of each uniques character :
 {'betty': 2, 'had': 1, 'some': 2, 'butter': 4, 'but': 1, 'the': 2, 'was': 1, 'bitter': 2, 'so': 1, 'baught': 1, 'better': 2, 'to': 1, 'make': 1}

In [ ]:
a=1
b="*"
while a!=6:
  print(b*a)
  a=a+1

*
**
***
****
*****

In [ ]:
a,b= input("enetr their names ").split(" ")
c,d= input("enetrtheir ages ").split(" ")
print("the total of", a ,'and ', b , "ages=", int(c)+int(d))

enetr their names ayush pratyush
enetrtheir ages 18 11
the total of ayush and  pratyush ages= 29

In [1]:
a,b,c=input("please enter any 3 numbers  ").split(" ")
d= int(a)+int(b)+int(c)
e=d/3
print(e)

please enter any 3 numbers  1 2 3
2.0

In [ ]:
l,b,h=input("enter length and breath and height ").split(" ")
d=int(l)*int(b)*int(h)
print(d)

enter length and breath and height 10 10 10
1000

In [ ]:
a=int(input("enter a number "))
b=1
for i in range (1,a+1):
  b=b*i
print(b)

enter a number 5
120

In [ ]:
a, b=input("enetr any 2 natural numbers ").split(" ")
c=int(a)+int(b)
print(c)

enetr natural numbers 5 6
11

In [ ]:
a=[10,20,30,10,40,20,40,10 ,50,60,30]
b=[]
c=[]
for i in a:
  if i not in b:
    b.append(i)
  elif i in b:
    c.append(i)
print(c)

[10, 20, 40, 10, 30]